.item {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
}

.item-checkbox {
    display: flex;
    margin: 0px 6px 0px -6px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.item-inner {
    height: 100%;
    align-items: center;
    padding: 0px 20px;

    display: flex;
    align-items: center;
    overflow: hidden;
}

:host([focused]) .item {
    background-color: teal;
    color: black;
}

input {
    display: none;
}

:host([checked]) input {
    display: block;
}

:host([focused]) input {
    display: block;
}

:host([checked]) input {
    appearance: none;
    flex-shrink: 0;
    height: 14px;
    width: 14px;
    padding: 2px;
    vertical-align: middle;
    transition: all 80ms ease-out 0s;
    fill-opacity: 0;
    border-radius: 3px;
    background-position: 1px 2px;
    box-shadow: none;
    background-color: lch(47.918 59.303 288.421);
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20width=%2210%22%20height=%229%22%20viewBox=%220%200%2010%208%22%20xmlns=%22http://www.w3.org/2000/svg%22%20fill=%22lch%28100%25%205%20288.421%20/%201%29%22%3E%3Cpath%20d=%22M3.46975%205.70757L1.88358%204.1225C1.65832%203.8974%201.29423%203.8974%201.06897%204.1225C0.843675%204.34765%200.843675%204.7116%201.06897%204.93674L3.0648%206.93117C3.29006%207.15628%203.65414%207.15628%203.8794%206.93117L8.93103%201.88306C9.15633%201.65792%209.15633%201.29397%208.93103%201.06883C8.70578%200.843736%208.34172%200.843724%208.11646%201.06879C8.11645%201.0688%208.11643%201.06882%208.11642%201.06883L3.46975%205.70757Z%22%20stroke-width=%220.2%22%20/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    border: 1px solid lch(47.918 59.303 288.421);
}

:host:not([checked])[focused] input {
    appearance: none;
    background-color: transparent;
    flex-shrink: 0;
    height: 14px;
    width: 14px;
    padding: 2px;
    margin: 0px 8px 0px 0px;
    vertical-align: middle;
    transition: all 80ms ease-out 0s;
    fill-opacity: 0;
    border: 1px solid lch(42.071 1.933 272);
    border-radius: 3px;
    background-position: 1px 2px;
    box-shadow: none;
}
